$display: flex;
$j-content: center;
.styleF {
  display: $display;
  justify-content: $j-content;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footerContent {
  margin: 30px;
}

@media screen and (max-width: 640px) {
  .styleF {
    display: $display;
    justify-content: $j-content;
    align-items: center;
    padding-top: 60px;
  }

  .footerContent {
    margin: 10px 0;
  }
}