$display: flex;

.styleS {
  display: $display;
  flex-direction: column;
  align-items: center;
}

.styleModal {
  display: $display;
  flex-direction: column;
}

.styleModalRow {
  display: $display;
  flex-direction: row;
  justify-content: space-between;
}

.styleModalImg1 {
  display: $display;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.styleModalImg2 {
  display: $display;
  justify-content: center;
  align-items: center;
  height: 180px;
}