.padd{
	padding-right: 0px;
	padding-left: 0px;
}
.aaa {
	width:120px;
	height: 70px;
	background-color: red;
	border: 1px solid black;
}
nnn{
	padding-left: 0;
	padding-right: 0;
}
sss{
	border:1px solid black;
	height: 140px;
}

