$display: flex;
$position: absolute;

.panelLang {
  display: $display;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-wrap: wrap;
}

.lang1 {
  position: $position;
  left: 30%;
}

.arrow {
  position: $position;
  left: 48%;
}

.lang2 {
  position: $position;
  left: 60%;
}

@media screen and (max-width: 640px) {
  .lang1 {
    position: $position;
    left: 5%;
  }

  .lang2 {
    position: $position;
    left: 65%;
  }

  .checkLang {
    display: none;
  }

  .arrow {
    position: $position;
    left: 44%;
  }
}
