$border: none;
$position: relative;

.tabsbtn:hover {
  background-color: rgba(66, 133, 244, 0.12);
}

.tabs {
  border: $border;
}

div a {
  border: $border;
}

.content {
  position: $position;
  top: 50px;
}

@media screen and (max-width: 640px) {
  .tabs {
    display: $border;
  }

  .line {
    display: $border;
  }

  .content {
    position: $position;
    top: 70px;
  }
}